.headerBox{
    margin-bottom:50px;
    width:100%;
    height:50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D1D4D6;
}
.headerBox{
    padding-left: 8%;}
.headerBox img{
    display:inline-block; width:26px; height:26px;}
.headerBox a{
    display:inline-block; font-size:20px; margin-left:20px; color:black;text-align: center;margin-top: 1%;}
.nl-logout {
    position: relative;
    float: right;
    height: 70%;
    margin-top: 6px;
    padding-right: 10px;
    text-align: center;
}
/**foot***/
.footBox{
    width:100%;
    height:15%;
    background-color:#324057;
}
.nl-foot-sign {
    padding-top: 1.5%;
    padding-left: 45%;
    display: block;
    color: #a4aebd;
    font-size: 19px;
    line-height: 29px;
}
.nl-foot-sign p {
    padding-top: 2%;
    display: block;
}